{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">

        <table>
            <caption>Recapitulatifs des produits (avec twig)</caption>
            <thead>
            <tr>

                <<th>NOM</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Taille</th>
                <th>photo</th>

            </tr>
            </thead>
            <tbody>

            {% for vetement in data if data is not empty %}
                <tr>
                    <td>{{vetement.descriptif}}</td>
                    <td>{{vetement.id_type}}</td>
                    <td>EUR {{vetement.prix}}</td>
                    <td>{{vetement.taille}}</td>
                    <td><img style="width:100px;height:100px" src="{{asset('images/')}}{{vetement.photo}}" alt="image de {{vetement.libelle}}" ></td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}

